@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --speed: 500ms;
}

.App{
  background-color:#F4F4F4;
  height: 80px;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.menu__container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.dropdow__menu{
  width: 230px;
  height: 48px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin-right: 24px;
}

.title__dropdow span{
  color: #D80000;
  margin-left: 10px;
}

.select__dropdow select{
  border: none;
  color: #656363;
  margin-left: 10px;
  width: 210px;
  cursor: pointer;
  font-weight: bold;

}

.search__menu input{
  background-color: #fff;
  border: 1px solid #ED3237;
  height: 48px;
  width: 354px;
  border-radius: 4px;
  margin-right: 24px;

}
.entrarCarrinho{
  display: flex;
}

.login__menu{
  display: flex;
  margin-right: 24px;

}

.user__img{
  cursor: pointer;
}

.button__login{
  border: none;
  color: #ED3237;
  cursor: pointer;
  background-color:#F4F4F4;

}

.cart__menu{
  display: flex;
}

.cart__img{
  cursor: pointer;
}

.cart__infos{
  border: none;
  color: #ED3237;
  cursor: pointer;
  background-color:#F4F4F4;

}

.containers{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.container__1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 24px;
  width: 597px;
  height: 662px;
}

.descricao__lanche h1{
  color: #4E4E4E;
  margin-top: 24px;
}

.descricao__lanche p{
  margin-top: 24px;
  color: #4E4E4E;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.preco__lanche{
  margin-top: 24px;
  width: 251px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

.atual__preco{
  color: #DC6E05;
}

.antigo__preco{
  text-decoration-line: line-through;
  color: #4E4E4E;

}

.container__2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 21px;
  width: 439px;
  height: auto;
  border: 1px solid #686868;
  border-radius: 8px;
}

.menu__ingredientes{
  width: 375px;
}
.cabecalho__ingredientes{
  background: rgba(253, 215, 14, 0.2);
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cabecalho__ingredientes span{
  margin-left: 16px;
  color: #4E4E4E;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.restricao__ingredientes{
  margin-left: 16px;
  color: #E49700;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.descricao__ingrediente{
  padding: 15px;
  color: #4E4E4E;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}


.posicao__ingredientes{
  width: 350px;
  display: flex;
  justify-content: end;
}
.adicionar__ingredientes{
  padding: 8px;
  width: 89px;
  height: 32px;
  border: 1px solid #F09035;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

#menos{
  width: 24px;
  height: 24px;
  background-image: url(./imagens/menos.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.3em;
  padding-left: 1.3em;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.quantidade__ingredientes{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4E4E4E;
}
#mais{
  width: 24px;
  height: 24px;
  background-image: url(./imagens/mais.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.3em;
  padding-left: 1.3em;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.preco__ingrediente{
  padding-left: 15px;
  color: #F09035;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.linha__container{
  margin: 10px;
  width: 343px;
  height: 0;
  border: 1px solid #E8A634;
  display: flex;
  align-items: center;
}

.rodape__ingredientes{
  width: 375px;
  background: rgba(253, 215, 14, 0.2);
  height: 55px;
  display: flex;
}

.rodape__ingredientes span{
  padding: 16px;
  color: #4E4E4E;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.botoes__rodape{
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;

}

.adicionar__talher{
  padding: 8px;
  width: 140px;
  height: 40px;
  border: 1px solid #F09035;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

#adicionar__lanche__button{
  width: 219px;
  height: 40px;
  background: #F09035;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  cursor: pointer;
}


/*POPOVER*/

.posicao__popover{
  display: flex;
  justify-content: end;
  width: 1920px;
  padding-right: 150px;
}
.dropdown-menu{
  position: fixed;
  background-color: #fff;

  width: 208px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  filter: drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}







.bolinha__notificacao{
  content: '';
  position: absolute;
  padding: 0 20px ;
  margin-bottom: 5px;

}

.bolinha__notificacao.inactive{
  opacity: 0;
  visibility: hidden;
  transition: var(--speed) ease;
}

.bolinha__notificacao::before{
  content: '';
  position: absolute;
  transform: rotate(45deg);
}



.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
}



.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


.cabecalho__popover{
  padding: 9px;
  width: 100%;
  background: #F09035;
  color: #FFFFFF;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.posicao__popover ul {
  padding-left: 25px;
}


.posicao__popover h3{
  padding: 9px;
  color: #BC2E31;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.posicao__popover p{
  padding-left: 10px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

}

.posicao__popover ul{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.posicao__popover li{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #4E4E4E;
}



@media screen and (max-width: 1700px){
  .posicao__popover{
    position: absolute;
    width: 1600px;
    padding-left: 150px;
  }
}

@media screen and (max-width: 1300px){
  .posicao__popover{
    position: absolute;
    width: 1300px;
    padding-left: 150px;
  }
}


@media screen and (max-width: 992px){

  .posicao__popover{
    position: absolute;
    width: 1020px;
  }

  .App{
    background-color:#F4F4F4;
    height: 180px;
  }

  .menu{
    display: flex;
    flex-direction: column;
  }

  .menu__container{
    display: flex;

    margin: 30px;
  
  }

  @media only screen and (max-width: 600px){

    .App{
      background-color:#F4F4F4;
      height: 280px;
    }
    .menu{
      display: flex;
      flex-direction: column;
    }

    .menu__container{
      display: flex;
      flex-direction: column;

    }

  
    .dropdow__menu{
      margin-bottom: 24px;
    }

    .search__menu input{
      margin-bottom: 24px;
    }
  }
}